.activity-card-detail-card-wrap {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(210, 210, 210, 0.75);
	backdrop-filter: blur(28px);
	z-index: 5;

	.activity-card-detail-cardd {
		width: 100%;
		max-width: 670px;
		max-height: 810px;
		position: relative;
		box-sizing: border-box;
		padding: 16px;
		background: #fff;
	}

	.close-btn {
		position: absolute;
		top: 0;
		right: -72px;
	}

	.scenic-spot-pic {
		width: 100%;
		min-height: 250px;
		margin-bottom: 20px;
		img {
			width: 100%;
			max-height: 459px;
			object-fit: contain;
			margin-bottom: 22px;
		}
	}

	.choose-pic {
		display: flex;
		justify-content: flex-end;
		
		button {
			height: 39px;
		}

		img {
			margin-right: 18px;
			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	h4 {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 22px;
	}

	p{
		font-size: 14px;
		line-height: 21px;
		margin-bottom: 20px;
	}

	.other-info {
		display: flex;
		flex-wrap: wrap;
		> div {
			display: flex;
			align-items: center;
			margin-bottom: 25px;

			img {
				display: inline-block;
				margin-right: 8px;
			}
		}
	}

	.time,
	.map {
		width: 60%;
		margin-right: 40px;
	}

	.ticket,
	.phone {
		flex: 1;
	}
}
