.app-header {
	padding: 29px 108px 18px;
	background: #fff;
	
	@include for-pad {
		padding: 17px 40px;
		box-shadow: none;
	}

	@include for-mobile {
		padding: 40px 16px 12px;
		background: #F6F7FB;
		&.traffic {
			background: #fff;
		}
	}
}