.header-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	a {
		text-decoration: none;
	}

	@include for-mobile {
		padding: 9.5px 31px;
		border-radius: 6px;
		box-shadow: 0px 4px 3px 0px #0D0B0C33;
		background: #fff;
	}
}

.header-links {
	display: flex;

	@include for-mobile {
		justify-content: space-between;
		width: 100%;
	}
}

.header-link {
	font-size: 14px;
	display: flex;
	align-items: center;
	margin-right: 27px;
	&:last-of-type {
		margin-right: 0;
	}
	img {
		display: inline-block;
		margin-right: 8px;
		width: 34px;
		height: 34px;
	}

	&.tour {
		color: #FF1D6C;
	}
	&.hotel {
		color: #FFB72C;
	}
	&.traffic {
		color: #007350;
	}

	@include for-mobile {
		&.tour,
		&.hotel,
		&.traffic {
			color: #acacac;
		}
	}

	&:hover,
	&.active {
		text-decoration: underline;

		@include for-mobile {
			text-decoration: none;
			&.tour {
				color: #FF1D6C;
			}
			&.hotel {
				color: #FFB72C;
			}
			&.traffic {
				color: #007350;
			}
		}
	}
}