@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');
@import './setting/reset';
@import './setting/mixin';

html {
	width: 100vw;
	height: 100vh;
	height: calc(var(--vh, 1vh)* 100);
	overflow: auto;
	
	&.fixed {
		position: relative;
		overflow: hidden;
	}
}

body {
	font-family: 'Noto Sans TC', sans-serif;
}

button {
	background: none;
	outline: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

.app {
	background: #F6F7FB;
}


@import './components/layout';
@import './components/navigation';
@import './components/banner';
@import './components/hotCity';
@import './components/card';
@import './components/activityCard';
@import './components/footer';
@import './components//select';
@import './components/pagination';
@import './components/activityDetail';
@import './components/loading';
@import './components/noDate';
@import './components/busStopInfo';

@import './page/tourScenicSpot';
@import './page/tourHotel';