.tour-restaurant,
.tour-hotel {
  margin-bottom: 60px;

  @include for-pad {
    padding: 0 65px;
  }
  h4 {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto 12px;

    img {
      display: inline-block;
      margin-right: 8px;
    }
  }
}